html {
  overflow-x: hidden;
}

body {
  flex: 1 1 auto;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  min-height: 100%;

  margin: 0;
  padding: 0;

  border: 0;
}

:global {
  .social-circle__app-body-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    flex: 1 1 auto;
  }
}
