.root {
  position: relative;

  display: block;

  background-color: transparent;

  transition-timing-function: ease-out;
  transition-duration: 200ms;
  transition-property: opacity, background-color, color;

  .content {
    display: block;
  }

  .iconContainer {
    position: relative;

    display: block;
  }

  .iconContainer + .text {
    margin-left: 15px;
  }

  .icon {
    display: block;

    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .pendingIndicator {
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  &.isPending,
  &:disabled {
    cursor: not-allowed;
  }

  &:not(.isPending) {
    &:disabled {
      opacity: 0.3;
    }
  }
}

.roundedRoot {
  border-radius: 4px;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-align: center;
  }
}
