/* stylelint-disable color-no-hex */
$tealish: #2AB0D6;
$shakespeare: #62B4CD;
$light-teal: #7CC8E0;
$duck-egg-blue: #BFE7F2;
$seafoam-blue: #81C6DB;
$pattens-blue: #D9E5FF;
$powder-blue: #ABD6E3;
$serenade: #FFF4E6;
$salmon: #FF7575;
$almost-black: #050506;
$mine-shaft: #2F2F2F;
$blackish: #222222;
/* stylelint-enable color-no-hex */
