@mixin triangle-base() {
  display: block;

  width: 0;
  height: 0;

  content: "";

  transform: scale(0.999);
}

@mixin triangle($direction, $width, $height, $color) {
  @include triangle-base();

  @if $direction == "left" {
    border-top: ($width / 2) solid transparent;
    border-right: $height solid $color;
    border-bottom: ($width / 2) solid transparent;
  } @else if $direction == "right" {
    border-top: ($width / 2) solid transparent;
    border-bottom: ($width / 2) solid transparent;
    border-left: $height solid $color;
  } @else if $direction == "up" {
    border-right: ($width / 2) solid transparent;
    border-bottom: $height solid $color;
    border-left: ($width / 2) solid transparent;
  } @else if $direction == "down" {
    border-top: $height solid $color;
    border-right: ($width / 2) solid transparent;
    border-left: ($width / 2) solid transparent;
  } @else if $direction == "down-left" {
    border-right: $height solid transparent;
    border-bottom: $height solid $color;
  } @else if $direction == "down-right" {
    border-bottom: $height solid $color;
    border-left: $height solid transparent;
  }
}
