@import "../../../../../../common/ui/reference/color";

.root {
  width: 100%;

  > .list {
    width: 100%;

    padding: 10px;

    > .listItem {
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }
  }

  &.hasEvenDepth {
    > .list {
      > .listItem {
        &:nth-of-type(odd) {
          background-color: $powder-blue;
        }

        &:nth-of-type(even) {
          background-color: $shakespeare;
        }
      }
    }
  }

  &.hasOddDepth {
    > .list {
      > .listItem {
        &:nth-of-type(odd) {
          background-color: $tealish;
        }

        &:nth-of-type(even) {
          background-color: $seafoam-blue;
        }
      }
    }
  }
}
