@import "../../../../common/ui/reference/color";

.page {
  background-color: floralwhite;
}

.root {
  .emptyContentMessage {
    width: 100%;

    margin-top: auto;
    margin-bottom: auto;
    padding: 30px 10px;

    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
}
