@import "../../../../common/ui/reference/color";

.page {
  background-color: $salmon;
}

.root {
  .messageContent {
    width: 100%;

    margin-top: auto;
    margin-bottom: auto;
    padding: 30px 10px;

    color: white;

    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}
