<!doctype html>
<html lang="en" class="social-circle-page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <meta name="theme-color" content="#ffffff">

    <title>Social Circle</title>
</head>
<body class="social-circle__app-body">
<div id="root"
     class="social-circle__app-body-content">
</div>

<%= htmlWebpackPlugin.files.webpackManifest %>
</body>
</html>
