@import "../../../../common/ui/reference/shape";
@import "../../../../common/ui/reference/color";

.root {
  width: 100%;

  padding: 5px;

  border-width: 1px;
  border-style: solid;

  font-family: sans-serif;

  > .body {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding-left: 25px;

    .deleteButton {
      height: 30px;
      flex: 0 0 auto;

      align-self: flex-end;

      margin: 10px 10px 10px auto;
      padding: 5px 10px;

      color: white;
      background-color: $salmon;
      border-color: $salmon;
    }

    .collapseStateIndicator {
      @include triangle(down, 12px, 6px, $almost-black);

      position: absolute;
      top: 20px;
      left: 5px;
      z-index: 1;
    }

    .mainContent {
      flex: 1 1 auto;

      .fullName {
        color: $almost-black;

        font-size: 16px;
        font-weight: 700;
      }

      .cityName {
        color: $almost-black;

        font-size: 14px;
      }

      .phoneNumber {
        color: $almost-black;

        font-size: 12px;
      }
    }
  }

  &.displayingContacts {
    border-color: $blackish;

    > .body {
      .collapseStateIndicator {
        transform: rotate(180deg);
      }
    }
  }

  &:not(.displayingContacts) {
    border-color: $mine-shaft;
  }
}
